@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Dancing+Script&family=Lato:wght@300&family=Roboto:wght@300;400&display=swap');
/* reset */
*{
box-sizing: border-box;
margin: 0 ;
padding : 0 ;

}
html,
body{
    height: 100%;
    font-family:"Roboto",'Times New Roman', Times, serif ;
    background: rgb(19, 133, 226);
    overflow-y: scroll;
}



/* using  variables you can set  asspects to be used accross pages */
:root{

    --navcolor:rgba(10, 80, 172) ;
    --linkcolors:rgb(255, 255, 255) ;
    --menucolor:rgba(10, 80, 172, 0.719) ;
    --border: black solid 2px ;

}


li{
    list-style: none;
  
   
}

a{
    text-decoration: none;
    color: var(--linkcolors) ;
    font-family: "Lato", 'Arial Narrow', Arial, sans-serif ;
    font-size:1.2rem ;
}   

.wrapper{
    display:flex ;
    flex-direction: column;
    
    
    width: 90% ;
    min-height: 120%;
    margin:0 auto ;
    background:white ;
}







.navbar{
    margin:0 auto ;
    background-color:var(--navcolor) ;
    height:92px ;
   
    padding:0 20px ;
    
}

.logo .CompanyTitle {

   padding:0 10px ;

}

.imglogo {
padding:0 5px ;
}

/* The container  class  is used so 
I can contain the width  */
.container { 
    /* center this container  */
    margin:0 auto ;
    max-width: 1300px;

   
   
}


/* using sudo class  of flex  so it can be used
elsewhere  */
.flex {
    
    display:flex ;
    align-items: center;
    
}

.logo {

    display:flex ;
    align-items: center;
    justify-content: space-around;

}

.nav-menu{
    display:flex ;
    /* This centers the list  within the  */
    margin:0 auto ;
    gap:60px ;

}



.nav_links {
    /* specify in seconds  */
    transition: 0.9s ease ;
    font-weight: bold;
   
}

.nav_links:hover{

    color: rgb(0, 255, 242);
    
}


.burger{
   display: none ;
   cursor: pointer;
   position:absolute ;
   right:60px ;

}

.burger .bar{
    
    display:block ;
    width: 25px ;
    height: 3px ;
    margin: 5px  auto ;
    background-color: aliceblue;

}

/* below is all showcase css*/

.spacer{
    height: 40px ;
}


/* have to set the show  case to flex */
/* then to center */
.show-case{
margin :0 auto ;
display:flex ;


}
    
 
 .grid{
  display: grid;  
  margin:0 auto ;
  
  gap: 15px ; 
  grid-template-areas: 
    "Advert-1 Advert-2 Advert-3"; 
  height :auto ;

 
}

/*  Addresses all child divs */

.grid > div{
    display :grid ;
    
    grid-template-rows: 60% 30% 30%;
    border:var(--border) ;
   
 
    text-align: center;
    height:200px;
    width: 250px ;
    color:var(--linkcolors);
    border-radius: 10px;
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    margin:5px 10px ;
}  


.showcase-1 { 
    background: red;
    grid-area: Advert-1;
    padding :10px ;
    height: 260px;
   
}

.showcase-1 .sh-case-dv1{
    display:grid ;
    margin:0 auto ;
    grid-template-columns:1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    "images"
    "itemtext"
    "gui"
    ;
  
    width: 100% ;
    
    
    row-gap: 3px;
    


}

.sh-case-images {
 margin:0 auto ;
 grid-area: images;
 width:80% ;
 padding:5px ;
 background:white ;
 border-radius: 10px ;

}

.item-text{
    grid-area: itemtext ;
}

.mbuttons{
    grid-area:gui ;
    margin:0 auto ;

    width: 80% ;
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
 
}

.showcase-2{ 
    
    grid-area: Advert-2; 
    background: yellow ;
}

.showcase-3 { 
    
    grid-area: Advert-3; 
    background: blue;

}

.page-footer {
    
    display:flex ;
    margin-top: auto;
    background:var(--navcolor) ;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:40px ;
     
}

.page-footer > div
{   
    color:white ;
}

/* media queries */

@media screen and (max-width: 935px) {

    .wrapper{
        min-height: 100%;
    }

   .burger {
    display:block ; 
   }

   /*  set the  middle bar to opacity  so we dont see this  */
   .burger.active .bar:nth-child(2){
    opacity:0 ;

   }

   /*  next two lines turn this into and  x  */
   .burger.active .bar:nth-child(1){
    opacity:100;
    transform :translateY(8px) rotate(45deg) ;

   }

   .burger.active .bar:nth-child(3){
    
    opacity:100;
    transform :translateY(-8px) rotate(-45deg) ;
   }

   /*  set the spacing top and bottom  */
   .nav_item{

    margin :16px 0 ;

   }

   /*  Where we display the nav manu  */

   .nav-menu{

    /*  set this to fixed so that the menu remains on the screen  */
    position:fixed ;
    /* hide this from view */
    
    left:-100% ;
    top:92px ;

    /* Before we would have used padding  */
    gap:40px ; 

    /*Its set as flex  now we change flec direction  */
    flex-direction: column;
    background-color: var(--menucolor);
    /* we want the menu to take up  whole screen  */
   
    width: 100% ;
    height:100% ;
    text-align: center;
    transition: 0.7s  ease;

   }

   .nav-menu.active{

    left:0 ;
   }
 
  /* start grid repsonsive settings */

  .grid{
   
    
    grid-template-areas: 
    "Advert-1"
    "Advert-2"
    "Advert-3";
    
  }



}